// css

html {
   font-size: 100%;
   font-family: $body-font-family;
   line-height: 1.6rem;
}

body {
   background-color: $body-background-color;
}

main {
   max-width: 55rem;
   margin: 0 auto 0 7rem;
   padding: 1rem 3rem;
   background-color: $text-background-color;
}

nav {
   display: flex;
}

nav li {
   display: inline-flex;
   list-style: none;
}
