/*------------------------------------*\
  # HEADINGS
\*------------------------------------*/

h1,
h2,
h3 {
   font-family: $header-font-family;
   font-weight: normal;
}

h1,
h2 {
   margin-top: 4rem;
}

h1 {
   font-size: $h1-font-size;
   @include for-phone-only {
   }
}

h2 {
   margin-top: 4rem;
   font-size: $h2-font-size;
   @include for-phone-only {
   }
}

h3 {
   font-size: $h3-font-size;
   @include for-phone-only {
   }
}
