@import
   "modules/colors",
   "modules/fonts",
   "partials/base",
   "partials/links",
   "partials/headings",
   "partials/cc-footer";

main {
   max-width: 33rem;
   margin: 7% auto;
}

dd {
   margin-left: 0;
   margin-bottom: 1rem;
}
