/*------------------------------------*\
  # COLOUR SCHEME
\*------------------------------------*/

$white: #fff;

$red-desaturated: #994040;
$red-vivid: #bc1a29;

$green-desaturated: #82733c;
$green-bright-olive: #c4ac28;

$yellow-mustard: #dea23c;
$gold-desaturated: #c1a14d;

$neutral-offwhite: #fbfaf6;
$neutral-linen: #f7f3ea;
$neutral-jade: #eae9d9;
$neutral-dark-green: #3c3510;
$neutral-dark-gray: #1c1d1e;

/*------------------------------------*\
  # USE THESE VARIABLES
\*------------------------------------*/

$body-background-color: $neutral-linen;
$text-background-color: $neutral-offwhite;

$body-text-colour: $neutral-dark-gray;

$link-color: $green-desaturated;
$link-hover-color: $green-bright-olive;

$code-background-color: $neutral-linen;
$pre-background-color: #f9f9f9;
$pre-border-color: #eee;

$form-highlight-color: $gold-desaturated;
$button-color: $neutral-offwhite;
$button-hover-color: $neutral-linen;


/* Miscellaneous colour codes. */
