// fonts

$serif: Georgia, serif;
$sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$monospace: "Fira Mono", Courier, monospace;
$display: "Abhaya Libre", Georgia, serif;

//
$body-font-family: $serif;
$header-font-family: $display;

$accent-font-family: $sans-serif;
$utility-font-family: $monospace;
