// fonts

$serif: "Lora", Georgia, serif;
$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$monospace: "Fira Mono", Courier, monospace;
$display: "Abhaya Libre", serif;

//
$body-font-family: $serif;
$header-font-family: $serif;

$accent-font-family: $sans-serif;
$utility-font-family: $monospace;
