/* Origin of type scale. */
$type-scale-base: 100%; /* The default browser font-size is 16px, but setting it as a percentage means it will scale according to the size the user has set the text to. */
$vertical-rhythm-base: 1.75;

/* Styles for main body text. */
$base-font-size: $type-scale-base; /* 100% of 16px; 1rem = 16px. */
$base-line-height: $vertical-rhythm-base; /* 1.75 * 16px = 28px as the default line height, but again, it will scale according to the user's settings. */

$large-font-size: 3rem; // 48px
$large-line-height: 1.75; // 84px
$large-spacing: 1.75rem; // 28px

/*$med-font-size:
$med-line-height:

$small-font-size: .8rem; // 12.8px
$small-line-height: */

/* Increments : 2.5rem=40px, 2rem=32px, 1.75rem=28px

Margins required to make a multiple of the $vertical-rhythm-base (28px):

   FONT SIZE      PIXELS      NEAREST MULTIPLE          REMS
   3rem           48px        56px (8px away)           .5rem
   2.5rem         40px        56px                      1rem

28
   42
56
   60
84
*/

// 3rems and accompanying margin and padding values.
$triple-rems-spacing: .5rem;

// h1
$title-font-size: $large-font-size; // 48px
$title-line-height: $large-line-height;
$title-padding-bottom: $large-spacing;

// h2
$section-title-font-size: 2rem; // 32px
$section-title-padding-bottom: .5rem;

$sub-font-size: .8rem;

$spacing-one: 2em;
$main-max-width: 50em;
$main-margin-left: 5rem;
$basic-spacing: 1rem;
$basic-spacing-2: 2rem;
